@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Fanner Furry Friends Dog Store!</h1>
    <h2> Are you a @Html.ActionLink("Dog Store Manager", "Index", "DogManager", new { })? </h2>
    <h2> Or a @Html.ActionLink("Dog Buyer", "Index", "DogBuyer", new { })? </h2>
    <h2>Click @Html.ActionLink("Here To Start an Order", "CustomerIndex", "StoreLocation", new { })</h2>
    <!----<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
    <!-- <a href="../DogManager"> Dog Managers </a>
     <a href="../DogBuyer"> Dog Buyers </a>
     <a href="../StoreLocation">Dog stores, please add a manager first( still debugging)</a>-->
</div>
