@model List<DSWebUI.Models.OrderStartVM>

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>OrderStartVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" id="inputform">
            <div class="form-group">

                <select  name="BuyerSel" form="inputform" id="BuyerStart">
                    @{
                        foreach (var item in Model)
                        {
                            if (item.BuyPointer == -1)
                            {
                                <option value=item.BuyerId>
                                    @Html.DisplayFor(modelItem => item.BuyerId)
                                    ,
                                    @Html.DisplayFor(modelItem => item.BuyerName)
                                </option>
                            }
                        }
                    }
                </select>
          
            </div>
            <div class="form-group">

                <select id="StoreStart" name="StoreSel">
                    @{
                        foreach (var item in Model)
                        {
                            if (item.BuyPointer == 1)
                            {
                                <option value=item.StoreId>
                                    @Html.DisplayFor(modelItem => item.StoreName)
                                    ,
                                    @Html.DisplayFor(modelItem => item.StoreAddress)
                                </option>
                            }
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
